cairocffi==0.7.2
CairoSVG==1.0.19
cffi==1.3.0
Jinja2==2.8
MarkupSafe==0.23
nose==1.3.7
numpy==1.10.1
oct==0.3.6
oct-turrets==0.1.0
peewee==2.6.4
pycparser==2.14
pygal==2.0.10
pyzmq==15.0.0
six==1.10.0
tinycss==0.3
