/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #f4f4f4;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1	{
	font-size: 4em;
	background: #2b2b2b;
	color: white;
	font-weight: bold;
}

h2 {
	font-size: 2em;
	background: #f78930;
	margin: 15px 0 15px 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 15px;
}

h4 {
	font-weight: bold;
	font-size: 1.3em;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
}

.summary {
	padding-left: 15px;
}

.summary > b {
	font-weight: bold;
}

#main table {
	margin-left: 15px;
	border: 1px solid grey;
}

#main th {
	font-weight: bold;
	padding: 10px 0 10px 0;
	border: 1px solid grey;
}

#main tr {
	padding: 10px 0 10px 0;
	text-align: center;
}

#main td {
	min-width: 70px;
	padding: 10px 5px 10px 5px;
	border: 1px solid grey;
}

hr {
	color: #f4f4f4;
	background-color: #f4f4f4;
	border: none;
}

figure {
	width: 50%;
}